

__pycache__

results/
tests/
data/ISA/
DAG/

.snakemake/

benchmarks/

.gitattributes


# pixi environments
.pixi
.pixi/*
!.pixi/config.toml

# Python virtual environments
.venv/
venv/



# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
LaTex/*.log
LaTex/*.pdf

# Jupyter Notebook
.ipynb_checkpoints

# VS Code workspace settings
.vscode/



