

__pycache__

results/
tests/
data/ISA/
DAG/

.snakemake/

benchmarks/

.gitattributes


# pixi environments
.pixi
.pixi/*
!.pixi/config.toml

# Python virtual environments
.venv/
venv/



# Jupyter Notebook
.ipynb_checkpoints

# VS Code workspace settings
.vscode/



